* {
 box-sizing: border-box;
}
.container {
 width: 85%;
 margin: auto;
}
.img-choose img {
 width: 70px;
 display: block;
 margin: 0 0 5px 0;
 border-radius: 5px;
 cursor: pointer;
 transition: all 0.1s ease-in-out;
}
.img_cont {
 display: flex;
 justify-content: space-between;
 width: 40%;
}
.img-z-c {
 border-radius: 15px;
 overflow: hidden;
}
.img-choose img:hover {
 outline: 1.5px solid #5e0000;
}







